<project name="phpbt" default="build" basedir=".">
  <target name="clean">
    <delete dir="${basedir}/build"/>
    <mkdir dir="${basedir}/build/coverage" />
    <mkdir dir="${basedir}/build/logs" />
    <mkdir dir="${basedir}/build/docs" />
    <mkdir dir="${basedir}/build/code-browser" />
  </target>

  <target name="phpunit">
    <exec executable="phpunit" failonerror="true">
      <arg line="-c ${basedir}/phpunit.xml tests" />
    </exec>
  </target>
  
  <target name="phpdoc">
    <exec executable="phpdoc">
      <arg line="-d ${basedir}/PHP/BitTorrent 
                 -t ${basedir}/build/docs
                 -ti 'API docs for PHP_BitTorrent'
                 -ct codeCoverageIgnore" />
    </exec>
  </target>
  
  <target name="phploc">
    <exec executable="phploc">
      <arg line="--log-csv ${basedir}/build/logs/phploc.csv 
                 --log-xml ${basedir}/build/logs/phploc.xml
                 ${basedir}/PHP/BitTorrent" />
    </exec>
  </target>
    
  <target name="phpcb">
    <exec executable="phpcb">
      <arg line="--log ${basedir}/build/logs
                 --source ${basedir}/PHP/BitTorrent
                 --output ${basedir}/build/code-browser" />
    </exec>
  </target>
  
  <target name="build" depends="clean,phpunit,phpdoc,phploc,phpcb" />
</project>
