<?xml version="1.0" encoding="UTF-8"?>
<phpunit syntaxCheck="false" bootstrap="PHP/BitTorrent/Autoload.php">
    <testsuites>
        <testsuite name="phpbt">
            <directory suffix="Test.php">tests/PHP/BitTorrent</directory>
        </testsuite>
    </testsuites>
  
    <logging>
        <log type="coverage-html" target="build/coverage" title="Code coverage for PHP_BitTorrent"
             charset="UTF-8" yui="true" highlight="true" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">PHP</directory>
            <exclude>
                <file>PHP/BitTorrent/Autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
