<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="PHP BitTorrent test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
